<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page for {{name}} </title>
</head>
<body>
<h1>Hello {{name}}!<h1>

<form method = "post" action = "/add_user"> <!-- pod jaki adres internetowy uderzy przedgladarka-->
    <p><input type = text name = username>
    <p><input type = submit value= Add> <!-- dodawanie uzytkownika do systemu -->
</form>

</body>
</html>